In [1]:
#imports
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
#load data as pandas dataframe
data_csv = pd.read_csv('op.csv')
data_json = pd.read_json('opj.json')

In [4]:
data_csv.head()

,Unnamed: 0,rank,trend,season,episode,name,start,total_votes,average_rating
0,0,"24,129",18,1,1,I'm Luffy! The Man Who Will Become the Pirate ...,1999,647,7.6
1,1,"29,290",11,1,2,"The Great Swordsman Appears! Pirate Hunter, Ro...",1999,473,7.8
2,2,"32,043",7,1,3,Morgan vs. Luffy! Who's This Beautiful Young G...,1999,428,7.7
3,3,"28,818",8,1,4,Luffy's Past! The Red-haired Shanks Appears!,1999,449,8.1
4,4,"37,113",4,1,5,"Fear, Mysterious Power! Pirate Clown Captain B...",1999,370,7.5

In [5]:
data_json.head()

,name,start,total_votes,average_rating,Unnamed: 0,rank,trend,season,episode
0,Houimou o Toppa Seyo! Kaigun Tai Sannin no Sen...,2009,143,8.2,NaN,NaN,NaN,NaN,NaN
1,Roger to Rayleigh: Kaizoku Ou to Sono Migiude,2009,176,8.5,399.0,"53,504",5,1.0,400.0
2,Kaihi Fukanou!? Taishou Kizaru no Kousoku no Keri,2009,144,8.3,400.0,"64,260",1,1.0,401.0
3,Attouteki! Kaigun no Sentou Heiki Pacifista,2009,140,8.3,401.0,"65,532",2,1.0,402.0
4,Saranaru Kyouteki Arawaru! Masakari Katsuida S...,2009,145,8.4,402.0,"62,992",3,1.0,403.0

# MErging

In [6]:
# get common columns names from both dataframes
common_columns = list(set(data_csv.columns).intersection(set(data_json.columns)))
common_columns

['name',
 'episode',
 'trend',
 'Unnamed: 0',
 'rank',
 'start',
 'total_votes',
 'season',
 'average_rating']

In [8]:
# merge dataframes on common columns
data_merged = pd.merge(data_csv, data_json, on=common_columns)
data_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 559 entries, 0 to 558
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      559 non-null    int64
 1   rank            559 non-null    object
 2   trend           559 non-null    object
 3   season          559 non-null    int64
 4   episode         559 non-null    int64
 5   name            559 non-null    object
 6   start           559 non-null    int64
 7   total_votes     559 non-null    object
 8   average_rating  559 non-null    float64
dtypes: float64(1), int64(4), object(4)
memory usage: 39.4+ KB

In [ ]:
tv=